/* TAGS IN SEQUENCE TOP-TO-BOTTOM */
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

@media(max-width: 1028px) {
  body{
    font-size: 1.7rem;
  }

}

#title{
  background-color: #407389;
  color:white;
}
.intro-first{
  text-align: center;
  color: white;
  font-family: 'Merriweather', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 20px;

}

h1 {
  color: white;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin : 0 auto 0 auto;
}

/* NAVBAR ---> Clouds Mountains etc stuff */


.nav-item {
  padding: 0 0;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  margin-bottom: 15px;

}

/* Navbar */

.navbar{
  padding: 0;
  background-color: #407389;
}

.container-fluid{
  padding : 3% 5% 0 5%;

}

/* TITLE BAR ---> Clouds Mountains etc stuff */
.top-container {
  background-color: #407389;
  text-align: center;
  position: relative;
  padding-top: 10px;
}

.top-cloud {
  position: absolute;
  right: 325px;
  top: 250px;
}

.bottom-left-cloud {
  position: absolute;
  left: 420px;
  top: 400px;
}


@media(max-width: 1396px) {
  .top-cloud {
    position: absolute;
    right: 190px;
    top: 270px;
  }

  .bottom-left-cloud {
    position: absolute;
    left: 255px;
    top: 380px;
  }
}

.mountain {
  width: 100%;
  height: auto;
}

/* Profile Section */

.my-image{
  margin:100px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding:10px;
  font-weight:bold;
}

.intro{
  width: 30%;
  margin: auto;
}

p{
  line-height: 2;
  margin: 2% 0;
}

/* hr */
hr{
  color: #407389;
  border : dotted 6px;
  border-bottom: none;
  width: 6%;
  margin: 100px auto;
}



/* Experience */

.exp-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.infinite-red{

  float: left;
  margin-right: 20px
}

.genpact{

  float: right;
  margin-left: 20px;
}

h3{
  font-weight: 500;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  margin:0;


}
.exp-h4{
  margin:0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2;
}

.IR{
  margin-top:10px;
}
.Gen{
    margin-top:10px;
}

/* Skills */


.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;

}

.deep{
  width:42%;
  float: left;
  margin-right: 30px;
}
.computer{
  width: 42%;
  float: right;
  margin-left: 30px;
}


.machine{
  width: 42%;
  float: left;
  margin-right: 30px;

}

.dsa{
  width: 42%;
  float: right;
  margin-left: 30px;
}
.ukulele{
  width: 42%;
  float: right;
  margin-left: 30px;
}

@media(max-width: 1028px) {

  h3{
    font-weight: bold;
  }

  p{
    margin: 10px;
  }

  #skills{
    text-align: center;
  }

  .skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: center;


  }

  .deep{
    position: static;
    width:100%;
    margin-bottom: 20px;

  }
  .computer{
    position: static;
    width:100%;
    margin-bottom: 20px;


  }


  .machine{
    position: static;
    width:100%;
    margin-bottom: 20px;

  }

  .dsa{
    position: static;
    width:100%;
    margin-bottom: 20px;

  }

  .ukulele{
    position: static;
    width:100%;
    margin-bottom: 20px;

  }

}

/* Tech Stack */

#tech-stack {
  padding:7% 15%;
  background-color: white;
}

.feature-box{
  text-align: center;
  padding:2%;
  font-size: bold;
}

.last-hr{
  margin-top: 20px;
  margin-bottom: 100px;

}

.after-skills{


}

/* Contact Section */

.contact-disc{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}


.contact-message{
  width: 40%;
  margin:40px auto 60px;
}

.btn {
  background: #407389;
  background-image: -webkit-linear-gradient(top, #407389, #11999e);
  background-image: -moz-linear-gradient(top, #407389, #11999e);
  background-image: -ms-linear-gradient(top, #407389, #11999e);
  background-image: -o-linear-gradient(top, #407389, #11999e);
  background-image: linear-gradient(to bottom, #407389, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}



/* Footer Section */

a{
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 5px;
  text-decoration: none;
}
a:hover{
  color: black;

}


.bottom-container{
  text-align: center;
  background-color: #407389;
  padding: 50px 0  20px;
  margin : 5% auto 0  auto;
}


.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
